@import "../../../utils/variables";

.signout__button {
      padding: 0.25rem 0.75rem;
            border: 1px solid $primary-color;
            background-color: $button-color;
            border-radius: 4px;
            text-decoration: none;
            color: inherit;
          

            &:hover {
                background-color: $hover-color;
            }
}