@import "./utils/variables";


a.listing__link,
.listing__card > a,
.listing__card a {
  text-decoration: none !important;
}



.home__container {
    
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  .filters__and__listings {
    display: flex;
    gap: 2rem;

    .filters__panel {
      flex: 0 0 200px;
      border: 1px solid $grey-color;
      border-radius: 0.75rem;
      padding: 1rem;

      .filter__section {
        margin-bottom: 1.5rem;

        p {
        
          margin-bottom: 0.5rem;
        }

        label {
          display: block;
          margin-bottom: 0.5rem;
          cursor: pointer;
        }

        input[type="range"] {
          width: 100%;
        }
      }
    }

    .main__content {
      flex: 1;
      

      .search__wrapper {
        position: relative;
        width: 30%;
        margin-bottom: 2rem;

        input[type="search"] {
          width: 100%;
          padding: 0.5rem 2rem 0.5rem 1rem;
          border: 1px solid $grey-color;
          border-radius: 1.5rem;
          font-size: small;
        }

        .search__icon {
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          color: $grey-color;
          font-size: 1.25rem;
        }
      }
       
      .listing__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-bottom: 2rem;

        .listing__card {
          border: 1px solid $grey-color;
          border-radius: 0.75rem;
          overflow: hidden;
          transition: box-shadow 0.2s ease;
          display: flex;
          flex-direction: column;

          .listing_link h2 {
              display: block;
    text-decoration: none !important;
    color: inherit;
          }
        
    
          &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          }

          .listing__image-wrapper {
            
            width: 100%;
            height: 300px;
            overflow: hidden;
          }

          .listing__image {
             width: 100%;
             height: 100%;
            object-fit: cover;
          }

          .listing__content {
            padding: 1rem;
            

            h2 {
              font-size: 1.125rem;
           
              color: $primary-color;
            
             
            }
         
          }
        }
      }
    }
  }

  .pagination__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      cursor: pointer;
      border: none;
      background-color: #fff;
      color: $primary-color;
      font-weight: 500;
      transition: all 0.2s;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        background-color: $grey-color;
        color: #fff;
      }
    }

    button.active {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
